[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "emacs/emacs-color-theme-solarized"]
	path = emacs/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vim/.vim/bundle/Obvious-Mode"]
	path = vim/.vim/bundle/Obvious-Mode
	url = https://github.com/vim-scripts/Obvious-Mode.git
[submodule "vim/.vim/bundle/vim-autoclose"]
	path = vim/.vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
